.vagrant/
vendor/
config/autoload/local.php
config/autoload/development.php
data/cache/*
!data/cache/.gitkeep
!data/language/en_US/.gitkeep
data/log/*
!data/log/.gitkeep
.phpunit.result.cache
composer.lock
.php_cs.cache